.aboutUsHeader {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.20), rgba(0, 0, 0, 0.20)),
    url('/images/AboutUsHead.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.aboutContainer {
    display: flex;
    justify-content: center;
    .aboutImgContainer {
        width: 30%; 
        position: relative;
        margin-right: 10px; 
        img {
            object-fit: cover;
        }
    }
    .aboutTextContainer {
        width: 50%;
        h3 {
            font-family: "Heebo", sans-serif;
            font-size: 18px;
            text-transform: uppercase;
            letter-spacing: 1.2px;
        }
        p {
            font-family: 'Lora', serif;
            font-size: 17px;
            letter-spacing: 0.50px;
            line-height: 30px; 
            color: #424242;
        }
    }
}

.aboutUsLinkContainer {
    border-bottom: 1px solid #ff7161;
}

.aboutUsWrapper {
    width: 70%; 
}

// About Page 

.aboutSectionsContainer {
    display: flex;
    justify-content: space-between;
    .ourStoryContainer {
        display: flex;
        flex-direction: column;
        .ourStoryTextContainer {
            width: 90%; 
            h3 {
                font-family: "Heebo", sans-serif;
                font-size: 18px;
                text-transform: uppercase;
                letter-spacing: 1.2px;
            }
            p {
                font-family: 'Lora', serif;
                font-size: 17px;
                letter-spacing: 0.50px;
                line-height: 30px; 
                color: #424242;
            }
        }
        .ourStoryImgContainer { 
            position: relative;
            height: 50vh;
            width: 90%;
        }
    }
    .qualityContainer {
        display: flex;
        flex-direction: column-reverse;
        .qualityTextContainer {
            width: 90%;
            h3 {
                font-family: "Heebo", sans-serif;
                font-size: 18px;
                text-transform: uppercase;
                letter-spacing: 1.2px;
            }
            p {
                font-family: 'Lora', serif;
                font-size: 17px;
                letter-spacing: 0.50px;
                line-height: 30px; 
                color: #424242;
            }
        }
        .qualityImgContainer {
            height: 50vh;
            position: relative;
            width: 90%;
        }
    }
}
.aboutUsTextAndImageContainer {
    display: flex; 
    .textContainer {
        width: 50%; 
        p {
            line-height: 1.75;
        }
    }
}