.aboutUsHeader {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.20), rgba(0, 0, 0, 0.20)),
    url('/images/AboutUsHead.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.aboutContainer {
    display: flex;
    justify-content: center;
    .aboutImgContainer {
        width: 30%; 
        position: relative;
        margin-right: 10px; 
        img {
            object-fit: cover;
        }
    }
    .aboutTextContainer {
        width: 50%; 
        p {
            line-height: 1.5;
        }
    }
}

.aboutUsLinkContainer {
    border-bottom: 1px solid #ff7161;
}

.aboutUsWrapper {
    width: 70%; 
}

// About Page 
.aboutUsTextAndImageContainer {
    display: flex; 
    .textContainer {
        width: 50%; 
        p {
            line-height: 1.5;
        }
    }
}