.bannerContainer {
    display: flex;
    justify-content: center;
    background-color: $primary;
    padding: 10px 0px;
    position: relative;
    .bannerTextContainer {
        width: 100%; 
        p {
            color: $solidWhite;
            font-size: 14px;
            text-align: center;
        }
    }
    .bannerIconContainer {
        position: absolute;
        right: 10px;
        top: 24px;
        button {
            background-color: transparent;
            border: none;
            cursor: pointer;
            svg {
                path {
                    stroke: $solidWhite;
                }
            }
        }
    }

}