* {
    font-family: 'Didact Gothic',
        sans-serif;
}

main {
    background-color: $secondary;
}

.wrapper {
    width: 90%;
    max-width: 1300px;
    margin: 0 auto; 
}

.aboutWrapper {
    width: 80%;
    max-width: 1300px;
    margin: 0 auto;
}

section {
    padding: 5% 0; 
    background-color: $secondary;
}

span {
    font-family: $fontPrimary;
}

h1 {
    color: $solidWhite; 
}

h2 {
    font-family: $fontPrimary;
}

h3 {
    font-family: $fontPrimary;
    font-size: 21px;
}

p {
    font-family: $fontSecondary;
    font-size: 18px;
}

a {
    font-family: $fontSecondary;
    text-decoration: none;
    color: $primary;
    font-size: 18px;
}

iframe {
    border-radius: 0 25px 0 0;
}

.lightGray {
    color: $lightGray;
}

hr {
    color: #424242;
    opacity: 0.1;
    background-color: $secondary;
}

svg {
    vertical-align: middle;
    padding-bottom: 2px;
}

.oddSection {
    padding: 0;
}

.headerText {
    height: 55vh;
    display: flex;
    align-items: center;
    justify-content: center;
    .headerTextContainer {
        width: 50%;
        height: 130%; 
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: $solidWhite;
        border-radius: 0 0 25px 0;
        .fontContainer {
            text-align: center;
            width: 80%; 
            h2 {
                color: $solidWhite;
                font-size: 40px;
                font-family: $fontPrimary;
                margin-bottom: 20px;
                letter-spacing: 1px;
                color: $primary;
            }
            p {
                font-family: $fontSecondary;
                font-weight: 300;
                font-size: 18px;
                color: $tertiary;
                margin-top: 0px; 
            }

        }
    }
}

.oddBackground {
    background-color: $solidWhite;
}

.sectionTitleTextContainer {
    h2 {
        margin-bottom: 5px; 
    }
    .subTextContainer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 30px;
        
        .seeMoreContainer {
            display: flex;
            align-items: center;
            border-bottom: 1px solid #ff7161;
        
            a {
                color: $primary;
            }
        
        }
        
        p {
            margin: 0px; 
        }
    }
}

// Breadcrumb

.breadSection {
    margin: 0px;
    padding: 0;
}

.breadContainer {
    position: static;
    display: flex;
    justify-content: flex-start;
    padding: 7.5% 0 0 0;
    .breadList {
        list-style: none;
        padding: 0;
        margin-bottom: 0px;
        display: flex;
        position: relative;
        li {
            margin-right: 10px; 
            a {
                font-family: $fontSecondary;
                text-transform: uppercase;
                letter-spacing: normal;
                font-size: 16px;
            }
        }
        li::after {
            content: '/';
            margin-left: 10px;  
        }
        li:nth-child(3)::after {
            content: ''
        }
    } 
}

.modelBreadList {
    list-style: none;
    padding: 0;
    margin-bottom: 0px;
    display: flex;
    position: relative;
    
    li {
        margin-right: 10px;
        a {
            font-family: $fontSecondary;
            text-transform: uppercase;
            letter-spacing: 1px;
            font-size: 16px;
            }
    }
    
    li::after {
        content: '/';
        margin-left: 10px;
    }
    
        li:nth-child(2)::after {
            content: ''
        }
}

// Banner 
.bannerContainer {
    display: flex;
    justify-content: center;
    background-color: $primary;
    padding: 20px 0px;
    
}

// 404 Page
.errorContainer {
    display: flex;
    justify-content: center;
    .errorPageTextContainer {
        display: flex;
        text-align: center;
        flex-direction: column;
        h3 {
            font-family: "Laro", sans-serif;
            color: $primary;
            letter-spacing: 1px;
            font-size: 72px;
            margin-bottom: 0px;
        }
        p {
            font-family: "Heebo", sans-serif;
            font-size: 24px;
            color: $primary;
            margin-bottom: 60px; 
        }
        a {
            padding: 10px 30px;
            background-color: $primary;
            color: #FFF; 
            align-items: center;
            margin-top: 30px; 
            margin: auto;
            letter-spacing: 1px;
            font-weight: bold;
        }
    
    }

}

.imageHeader {
    position: absolute;
    width: 100%;
    height: 100%; 
}