* {
    font-family: 'Didact Gothic',
        sans-serif;
}

main {
    background-color: #f7f4e8;
}

.wrapper {
    width: 90%;
    max-width: 1300px;
    margin: 0 auto; 
}

section {
    padding: 5% 0; 
    background-color: #f7f4e8;
}

h1 {
    color: #FFFF; 
}

h3 {
    font-family: 'Lato', sans-serif;
    font-size: 21px;
}

p {
    font-size: 18px;
}

a {
    text-decoration: none;
    color: #284646;
    font-size: 18px;
}

hr {
    color: #424242;
    opacity: 0.1;
    background-color: #f7f4e8;
}

svg {
    vertical-align: middle;
    padding-bottom: 2px;
}

.oddSection {
    padding: 0;
}

.headerText {
    height: 55vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    h2 {
        color: #FFFF;
        text-transform: uppercase;
        font-size: 58px;
        font-family: 'Roboto',sans-serif;
        font-weight: bold;
        margin: 5px 0px;
        letter-spacing: 2px;
    }
    p {
        font-family: 'Lato', sans-serif;
        font-weight: 300;
        font-size: 24px;
        color: #FFFF;
        margin-top: 0px; 
    }
}

.oddBackground {
    background-color: #FFFF;
}

.sectionTitleTextContainer {
    h2 {
        margin-bottom: 5px; 
    }
    .subTextContainer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 30px;
        
        .seeMoreContainer {
            display: flex;
            align-items: center;
            border-bottom: 1px solid #ff7161;
        
            a {
                color: #284646;
            }
        
        }
        
        p {
            margin: 0px; 
        }
    }
}

// Breadcrumb

.breadSection {
    margin: 0px;
    padding: 0;
}

.breadContainer {
    position: static;
    display: flex;
    justify-content: flex-start;
    padding: 5% 0 0 0;
    .breadList {
        list-style: none;
        padding: 0;
        margin-bottom: 0px;
        display: flex;
        position: relative;
        li {
            margin-right: 10px; 
            a {
                font-family: 'Heebo', serif;
                text-transform: uppercase;
                letter-spacing: 0.8px;
                font-size: 16px;
            }
        }
        li::after {
            content: '/';
            margin-left: 10px;  
        }
        li:nth-child(3)::after {
            content: ''
        }
    } 
}

.modelBreadList {
    list-style: none;
    padding: 0;
    margin-bottom: 0px;
    display: flex;
    position: relative;
    
    li {
        margin-right: 10px;
        a {
            font-family: 'Heebo', serif;
            text-transform: uppercase;
            letter-spacing: 1px;
            font-size: 16px;
            }
    }
    
    li::after {
        content: '/';
        margin-left: 10px;
    }
    
        li:nth-child(2)::after {
            content: ''
        }
}

// Banner 
.bannerContainer {
    display: flex;
    justify-content: center;
    background-color: #284646;
    padding: 20px 0px;
    
}

// 404 Page
.errorContainer {
    display: flex;
    justify-content: center;
    .errorPageTextContainer {
        display: flex;
        text-align: center;
        flex-direction: column;
        h3 {
            font-family: "Laro", sans-serif;
            color: #284646;
            letter-spacing: 1px;
            font-size: 72px;
            margin-bottom: 0px;
        }
        p {
            font-family: "Heebo", sans-serif;
            font-size: 24px;
            color: #284646;
            margin-bottom: 60px; 
        }
        a {
            padding: 10px 30px;
            background-color: #284646;
            color: #FFF; 
            align-items: center;
            margin-top: 30px; 
            margin: auto;
            letter-spacing: 1px;
            font-weight: bold;
        }
    
    }

}

.imageHeader {
    position: absolute;
    width: 100%;
    height: 100%; 
}