
.contactSection {
    background-color: #f7f6f3;
}

.formAndTextContainer {
    display: flex;
    justify-content: center;
}

.contactTitleContainer {
    display: flex;
    justify-content: center;
    p {
        width: 80%; 
        text-align: center;
        font-size: 22px;
    }
}


.formContainer {
    display: flex;
    flex-direction: column;
    width: 80%; 
    padding: 30px 20px 8px 25px;
    form {
        display: flex;
        flex-direction: column;
        h3 {
            text-transform: uppercase;
            font-size: 18px;
            margin-bottom: 30px;
        }
        input {
            margin: 15px 0px; 
            padding: 8px;
            border-radius: 4px;
            border-width: 1px;
            border-color: #dadbde;
            border-style: solid;
        }
        textarea {
            margin: 15px 0px;
            padding: 8px; 
            border-radius: 4px;
            border-width: 1px;
            border-color: #dadbde;
            border-style: solid;
            resize: none; 
        }
        .nameContainer {
            display: flex;
            justify-content: space-between;
            .firstNameContainer, .lastNameContainer {
                display: flex;
                flex-direction: column;
                width: 45%; 
            }
        }
        .emailAndPhoneContainer {
            display: flex;
            justify-content: space-between;
            .phoneContainer, .emailContainer {
                width: 45%; 
                input {
                    width: 100%; 
                }
            }
        }
        .buttonSubmit {
            background-color: #284646;
            cursor: pointer;
            color: #FFFF; 
            padding: 10px 16px; 
            font-weight: bold;
            border-radius: 4px;
        }

        .subjectInput {
            width: 40%;
        }
        .buttonSubmit {
            width: 30%;
        }
    }
}

.contactHeaderBackground {
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.20), rgba(0, 0, 0, 0.20)),
        url('/images/contactUsbackground.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
}
