
.contactSection {
    background-color: #f7f6f3;
}

.formAndTextContainer {
    display: flex; 
    flex-direction: row-reverse;
    justify-content: flex-end;
    gap: 20px; 
    .contactTextContainer {
        width: 30%; 
        padding: 16px;
        background-color: #FFFF;
        box-shadow: 0 15px 35px 0 rgba(0, 0, 0, .1);
        height: 40%;
    }
}
.formContainer {
    display: flex;
    align-items: center;
    width: 40%; 
    box-shadow: 0 15px 35px 0 rgba(0, 0, 0, .1);
    padding: 30px 20px 8px 25px;
    background-color: #FFFF;
    form {
        display: flex;
        flex-direction: column;
        width: 100%; 
        
        input {
            margin: 15px 0px; 
            padding: 8px;
            border-radius: 4px;
            border-width: 1px;
            border-color: #dadbde;
            border-style: solid;
        }
        textarea {
            margin: 15px 0px;
            padding: 8px; 
            border-radius: 4px;
            border-width: 1px;
            border-color: #dadbde;
            border-style: solid;
            resize: none; 
        }
        .emailAndPhoneContainer {
            display: flex;
            justify-content: space-between;
            .phoneContainer, .emailContainer {
                width: 45%; 
                input {
                    width: 100%; 
                }
            }
        }
        .buttonSubmit {
            background-color: #284646;
            cursor: pointer;
            color: #FFFF; 
            padding: 10px 16px; 
            font-weight: bold;
            border-radius: 4px;
        }
    }
}
