.developmentSection {
    display: flex;
    flex-direction: row-reverse;
    width: 100%; 
    justify-content: space-between;
    .mainTitleTextContainer {
        width: 30%; 
        display: flex;
        flex-direction: column;
        text-align: right;
        h2 {
            font-family: $fontPrimary;
            font-size: 42px;
            letter-spacing: 1px;
            color: #284646;
            margin: 10px 0px 20px 0px; 
        }
        p {
            color: #424242;
            letter-spacing: 1px
        }
    }
        .seeMoreContainer {
            margin-top: 50px; 
            a {
                padding: 10px 25px;
                text-transform: uppercase;
                font-size: 14px;
                color: $solidWhite;
                background-color: $primary;
                border-radius: 25px;
            }
    }
    p {
        margin-top: 0; 
        font-size: 16px;
    }
}

.developmentTitleTextContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .learnMoreDevelopmentsContainer {
        display: flex;
        align-items: center;
        border-bottom: 1px solid #ff7161;
        
        a {
        color: #284646;
        }
    }
}

.recentDevelopmentTextContainer {
    h2 {
        margin-bottom: 5px; 
    }
    p {
        margin-top: 0px; 
    }
}

.developmentsCardsContainer {
    display: flex; 
    justify-content: space-between;
    margin-bottom: 40px; 
    .developmentCard {
        width: calc((100% / 3) - 30px);
        display: flex;
        flex-direction: column;
        overflow: hidden;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.35);
        background-color: #fff;
        border-radius: 25px 0 0 0;
        .developmentImgContainer {
                position: relative;
                width: 100%;
                height: 250px;
                object-fit: contain;
        
            }
        
        .developmentTextContainer {
            padding: 15px;
            text-transform: uppercase;

            .developmentTitleTextContainer {


                h3 {
                    font-family: $fontPrimary;
                    margin-right: 10px; 
                    margin-top: 0px;
                    font-size: 14px;
                    color: #0a0a0a;
                    letter-spacing: 1px;
                }
            }
            .developmentLocationTextContainer {
                p {
                    font-size: 10px;
                    background-color: #284646;
                    mix-blend-mode: multiply;
                    padding: 2px 8px;
                    color: $solidWhite;

                }
            }
        
        
                h3,
                p {
                    margin-top: 0px;
                }
            }
    }
}

// .developmentCard:nth-child(2), .development:nth-child(5) {
//     margin: 0 30px;
// }

.developmentTextContainer {
    display: flex; 
    justify-content: space-between;
    .developmentLocationTextContainer {
        display: flex; 
        align-items: center;
    }
    .developmentLearnMoreContainer {
        margin-left: 10px; 
    }
}

.developmentHeader {
    .headerImageContainer {
        position: relative;
        width: 60%;
        height: 100%; 
    }
}

.developmentPageContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;

    .developmentCard {
        width: calc((100% / 3) - 40px);
        display: flex;
        flex-direction: column;
        overflow: hidden;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.35);
        margin-bottom: 40px;
        background-color: $solidWhite;
        border-radius: 0 25px 0 0;
        .developmentTextContainer {
            padding: 15px;
            text-transform: uppercase;
        
                .developmentTitleTextContainer {
        
                    h3 {
                        font-family: $fontPrimary;
                        margin-top: 0px;
                        font-size: 14px;
                        color: #0a0a0a;
                        letter-spacing: 1px;
                    }
                }
        
                .developmentLocationTextContainer {
                    p {
                        font-size: 10px;
                        background-color: $primary;
                        mix-blend-mode: multiply;
                        padding: 2px 8px;
                        color: $solidWhite;
        
                    }
                }
        
        
                h3,
                p {
                    margin-top: 0px;
                }
            }
        .sceneryPictureContainer {
            position: relative;
            width: 100%;
            height: 250px;
            object-fit: contain;
        }
    }
}

// ID Page
.IDContentContainer {
    display: flex;
    margin-top: 30px;

    .IDInfoContainer {
        width: 30%;
        display: flex;
        flex-direction: column;
        margin-right: 30px;

        h2 {
            text-transform: uppercase;
            margin-top: 0;
            color: #424242;
            letter-spacing: 1.5px;
            font-size: 32px;

        }

        p {
            font-size: 16px;
            letter-spacing: 0.50px;
            line-height: 30px;
            color: #424242;

        }

        .featuresListAndLocationContainer {
            display: flex;
            justify-content: space-between;
            border-top: 1px solid #424242;
            border-bottom: 1px solid #424242;
            padding: 5% 0;

            h3 {
                font-family: "Heebo", serif;
                font-size: 12px;
                text-transform: uppercase;
                letter-spacing: 1.5px;
            }

            p {
                font-family: "Heebo", serif;
                font-size: 12px;
                text-transform: uppercase;
                letter-spacing: 1.5px;
            }

            ul {
                li {
                    font-family: "Heebo", serif;
                    font-size: 12px;
                    text-transform: uppercase;
                    margin-bottom: 5px;
                    letter-spacing: 1.5px;
                }

                li::marker {
                    font-size: 10px;
                }
            }

        }
    }
    .IDMapContainer {
        margin-right: 30px;
        width: 70%; 
        .mapContainer {
            width: 100%;
            height: 500px; 
            border-radius: 0 25px 0 0;
        }

        p {
            margin-bottom: 0;
            padding-bottom: 0;

        }

        .cityLocation {
            margin-top: 5px;
        }
    }
}
