.developmentTitleTextContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .learnMoreDevelopmentsContainer {
        display: flex;
        align-items: center;
        border-bottom: 1px solid #ff7161;
        
        a {
        color: #284646;
        }
    }
}

.recentDevelopmentTextContainer {
    h2 {
        margin-bottom: 5px; 
    }
    p {
        margin-top: 0px; 
    }
}

.developmentsCardsContainer {
    display: flex; 
    justify-content: space-between;
    margin-bottom: 40px; 
    .developmentCard {
        width: calc((100% / 3) - 30px);
        display: flex;
        flex-direction: column;
        overflow: hidden;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.35);
        background-color: #fff;
        .developmentImgContainer {
                position: relative;
                width: 100%;
                height: 250px;
                object-fit: contain;
        
            }
        
        .developmentTextContainer {
            padding: 15px;
            text-transform: uppercase;

            .developmentTitleTextContainer {

                h3 {
                    margin-top: 0px;
                    font-size: 14px;
                    color: #0a0a0a;
                }
            }
            .developmentLocationTextContainer {
                p {
                    font-size: 12px;
                    background-color: #284646;
                    mix-blend-mode: multiply;
                    padding: 2px 8px;
                    color: white;

                }
            }
        
        
                h3,
                p {
                    margin-top: 0px;
                }
            }
    }
}

// .developmentCard:nth-child(2), .development:nth-child(5) {
//     margin: 0 30px;
// }

.developmentTextContainer {
    display: flex; 
    justify-content: space-between;
    .developmentLocationTextContainer {
        display: flex; 
        align-items: center;
    }
    .developmentLearnMoreContainer {
        margin-left: 10px; 
    }
}

.developmentHeader {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.20), rgba(0, 0, 0, 0.20)),
    url('/images/DevelopmentHeaderPhoto.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.developmentPageContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;

    .developmentCard {
        width: calc((100% / 3) - 40px);
        display: flex;
        flex-direction: column;
        overflow: hidden;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.35);
        margin-bottom: 40px;
        background-color: #fff;
        .developmentTextContainer {
            padding: 15px;
            text-transform: uppercase;
        
                .developmentTitleTextContainer {
        
                    h3 {
                        margin-top: 0px;
                        font-size: 14px;
                        color: #0a0a0a;
                    }
                }
        
                .developmentLocationTextContainer {
                    p {
                        font-size: 12px;
                        background-color: #284646;
                        mix-blend-mode: multiply;
                        padding: 2px 8px;
                        color: white;
        
                    }
                }
        
        
                h3,
                p {
                    margin-top: 0px;
                }
            }
        .sceneryPictureContainer {
            position: relative;
            width: 100%;
            height: 250px;
            object-fit: contain;
        }
    }
}
