footer {
    color: #FFFF; 
    background-color: #284646;
    .footerTextandLogoContainer {
        display: flex;
        width: 100%; 
    }
    .footerDesignCopywrightContainer {
        display: flex;
        justify-content: space-between;
    }
    .footerLinksContainer {
        nav {
            justify-content: flex-start;
            padding: 0px; 
            border-bottom: none;
            background-color: #284646;
        }
        .footerNavigationContainer {
            display: flex;
            list-style: none;
            padding: 0px; 
            li {
                a {
                    text-decoration: none;
                    color: #e5e5e5;
                    margin-right: 30px; 
                }
            }
        }
    }
}

.footerCopy {
    font-size: 14px; 
    color: #e5e5e5;
    a{
        color: #e5e5e5;
        font-size: 14px;
    }
}

.footerTextContainer {
    padding: 5% 0 2% 0;  
    width: 50%; 
    h4 {
        margin: 16px 0px; 
    }
}

.footerCertificationContainer {
    padding: 5% 0 2% 0; 
    width: 50%; 
    text-align: right;
    p {
        font-size: 16px;
    }
}