footer {
    font-family: 'Lora', serif;
    color: #FFFF; 
    background-color: $primary;
    .footerTextandLogoContainer {
        display: flex;
        width: 100%; 
    }
    .footerDesignCopywrightContainer {
        display: flex;
        justify-content: space-between;
    }
    .footerLinksContainer {
        padding: 5% 0 2% 0; 
        nav {
            position: static;
            justify-content: flex-start;
            padding: 0px; 
            border-bottom: none;
            background-color: $primary;
        }
        .footerNavigationContainer {
            display: flex;
            flex-direction: column;
            list-style: none;
            padding: 0px; 
            li {
                margin-bottom: 16px; 
                a {
                    font-family: "Heebo", sans-serif;
                    text-decoration: none;
                    color: #e5e5e5;
                    margin-right: 30px; 
                    text-decoration: underline;
                    text-underline-offset: 7px;
                    text-transform: uppercase;
                    font-size: 14px;
                }
            }
        }
    }
}

.footerCopy {
    font-size: 14px; 
    color: #e5e5e5;
    a {
        color: #e5e5e5;
        font-size: 14px;
    }
}

.footerTextContainer {
    padding: 5% 0 2% 0;  
    width: 50%; 
    h4 {
        font-family: "Lora", serif;
        font-weight: 400;
        letter-spacing: 1px;
        margin: 16px 0px; 
    }
}

.footerCertificationContainer {
    padding: 5% 0 2% 0; 
    width: 40%; 
    text-align: right;
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    h3 {
        font-family: $fontSecondary;
        font-size: 16px;
        font-weight: normal;
        letter-spacing: 1px;
    }
    .footerCertificationImageTwo {
        margin-left: 30px; 
    }
    p {
        color: #e5e5e5;
        letter-spacing: 1px;
        font-size: 14px;
    }
}

address {
    font-style: normal;
    font-family: $fontPrimary;
    p, a, span {
        font-family: $fontSecondary; 
        font-size: 14px;
        letter-spacing: 1px;
        color: #e5e5e5;
    }
}

.footerLogoContainer {
    margin-bottom: 20px; 
}