footer {
    font-family: 'Didact Gothic', sans-serif;
    color: #FFFF; 
    background-color: #284646;
    .footerTextandLogoContainer {
        display: flex;
        width: 100%; 
    }
    .footerDesignCopywrightContainer {
        display: flex;
        justify-content: space-between;
    }
    .footerLinksContainer {
        padding: 5% 0 2% 0; 
        nav {
            position: static;
            justify-content: flex-start;
            padding: 0px; 
            border-bottom: none;
            background-color: #284646;
        }
        .footerNavigationContainer {
            display: flex;
            flex-direction: column;
            list-style: none;
            padding: 0px; 
            li {
                margin-bottom: 16px; 
                a {
                    text-decoration: none;
                    color: #e5e5e5;
                    margin-right: 30px; 
                    text-decoration: underline;
                    text-underline-offset: 7px;
                }
            }
        }
    }
}

.footerCopy {
    font-size: 14px; 
    color: #e5e5e5;
    a {
        color: #e5e5e5;
        font-size: 14px;
    }
}

.footerTextContainer {
    padding: 5% 0 2% 0;  
    width: 50%; 
    h4 {
        margin: 16px 0px; 
    }
}

.footerCertificationContainer {
    padding: 5% 0 2% 0; 
    width: 50%; 
    text-align: right;
    p {
        font-size: 16px;
    }
}

address {
    font-style: normal;
    p {
        font-size: 16px;
        a {
            color: #fff; 
            font-size: 16px;
        }
    }
}