.galleryHeader {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.20), rgba(0, 0, 0, 0.20)),
    url('/images/galleryHeader.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.tabsMainContainer {
    display: flex;
    justify-content: center;
}
.tabsContainer {
    display: flex;
    justify-content: space-evenly;
    width: 80%; 
    margin-bottom: 50px; 

    .galleryButton {
        border-radius: 8px;
        border: 2px solid #284646;
        background-color: transparent;
        padding: 8px 4px;
        min-width: 10%;
        cursor: pointer;
    
    }
}

.galleryItemsContainer {
    display: flex;
    flex-wrap: wrap;
}
.galleryImageContainer {
    width: calc((100% / 4) - 30px);
    position: relative;
    height: 250px;
    object-fit: contain;
    margin: 0px 30px 30px 0px
}

.galleryImageContainer:nth-child(4n) {
    margin-right: 0px; 
}