.galleryHeader {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.20), rgba(0, 0, 0, 0.20)),
    url('/images/galleryHeader.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}