.galleryHeader {
    .headerImageContainer {
            position: relative;
            width: 60%;
            height: 100%;
        }
}

.tabsMainContainer {
    display: flex;
    justify-content: center;
}

.buttonWrapper{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.gBall {
    display: none;
}
.tabsContainer {
    display: flex;
    justify-content: space-evenly;
    width: 80%; 
    margin-bottom: 50px; 
    background-color: #fefefe;
    padding: 15px;
    position: relative;


    .galleryButton {
        cursor: pointer;
        background-color: transparent;
        text-transform: uppercase;
        border: none;
        font-size: 14px;
        color: #7a7a7a;
    }
}

.galleryItemsContainer {
    display: flex;
    flex-wrap: wrap;
}
.galleryImageContainer {
    position: relative;
    object-fit: contain;
    margin: 0px 30px 30px 0px
}

.galleryImageContainer:nth-child(4n) {
    margin-right: 0px; 
}

// react photo album
.react-photo-album {
    height: 100%;
    width: 100%; 
}
