@media screen and (max-width: 1200px) {
    // Model Homes Card
    .modelHomesCard {
        .modelInformationBar {
            .modelInfoTextContainer {
                p {
                    font-size: 12px; 
                }
            } 
        }
    }
}

@media screen and (max-width: 1000px) {
    // Preamble Component

    .preambleTitleTextContainer {
        margin-top: 10%;
        width: 100%; 
    }
    .preambleTextContainer {
        flex-direction: column;
        .preambleMainTextContainer {
            width: 100%; 
            margin-bottom: 60px; 
            padding-top: 30px; 
            a {
                margin: auto; 
                margin-top: 30px; 
            }

        }
        .checkOutContainer {
            justify-content: center;
        }
    }
}

@media screen and (max-width: 768px) {

    

    // Base Styles
    .headerText {
        height: 100vh; 
        flex-direction: column;
        .headerTextContainer {
            width: 100%; 
            .fontContainer {
                h2 {
                    margin-top: 0; 
                    font-size: 36px; 
                }
                p {
                    font-size: 18px; 
                }
            }
        }
        .headerImageContainer {
            width: 100%; 
        }
    }

    // Navigation

    .mobileMenuContainer {
        display: inline;
    }

    .navAbs {
        .navigationContainer {
            display: none;
        }
        
    }

    // Hero Component 
    .heroText {
        flex-direction: column-reverse;
        height: auto;
        .headerTextContainer {
            width: 80%; 
            padding: 60px 0; 
            h1 {
                font-size: 48px;
            }
            p {
                font-size: 19px;
            }
        }
        .headerImageContainer {
            width: 100%; 
            height: 70vh;
        }
    }

    // Preamble Component

    .preambleTitleTextContainer {
        margin-top: 10%;
        width: 100%; 
    }
    .preambleTextContainer {
        flex-direction: column;
        .preambleMainTextContainer {
            width: 100%; 
            margin-bottom: 60px; 
            padding-top: 30px; 
            a {
                margin: auto; 
                margin-top: 30px; 
            }

        }
        .checkOutContainer {
            justify-content: center;
        }
    }

    // About Component 
    .aboutContainer {
        flex-direction: column;
        .aboutImgContainer {
            height: 400px; 
            width: 100%;
        }
        .aboutTextContainer {
            width: 100%;
            h3 {
                text-align: center;
            }
        }
    }

    // About Page 
    .aboutSectionsContainer {
        flex-direction: column;
        .ourStoryContainer {
            flex-direction: column;
            .ourStoryTextContainer, .ourStoryImgContainer {
                width: 100%; 
            }
        }
        .qualityContainer {
            flex-direction: column;
            .qualityTextContainer, .qualityImgContainer {
                width: 100%;
            }
        }
    }

    // Embla Button
    .embla__button--next {
        right: 5rem; 
    }
    .embla__button--prev {
        left: 5rem;
    }


    // Development Component 
    .developmentSection {
        flex-direction: column;
            
            .mainTitleTextContainer {
                    width: 100%;
                    align-items: center;
                    margin-bottom: 60px;
        
                    h2 {
                        width: 75%;
                    }
                }
        
                .seeMoreContainer {
                    margin-top: 30px;
                }
    }
    .developmentsCardsContainer {
        flex-wrap: wrap;
        .developmentCard {
            width: calc(50% - 30px);
            margin-top: 30px; 
        }
    }

    // Development Page
    .developmentPageContainer {
        gap: 40px; 
        .developmentCard {
            width: calc((100% / 2) - 40px); 
        }
    }

    // Development ID Page
    .IDContentContainer {
        flex-direction: column;
        .IDInfoContainer {
            width: 100%;
        }
        .IDMapContainer {
            width: 100%; 
            margin-top: 26px;
        }
    }

    // Model Home Component
    .sectionTitleTextContainer {
        flex-direction: column;
        .mainTitleTextContainer {
            width: 100%; 
            align-items: center;
            margin-bottom: 60px; 
            h2 {
                width: 50%; 
            }
        }
        .seeMoreContainer {
            margin-top: 30px; 
        }
    }
    .modelHomesContainer {
        width: 100%; 
        .modelHomesCard {
            width: calc(50% - 30px)
        }
    }

    // Model Home Page
    .modelHomesPageContainer {
        gap: 40px; 
        .modelHomesPageCard {
            width: calc((100% / 2) - 40px);
        }
    }

    // Model Home [ID] Page
    .modelHomeContainer {
        flex-direction: column;
        .modelHomeNameAndFeaturesContainer {
            width: 100%;
        }
        .modelHomeImageContainer {
            width: 100%; 
            object-fit: contain;
            height: 400px; 
            margin-top: 30px; 
            img {
                height: auto; 
            }
        }
    }

    // Contact Page
    .formAndTextContainer {
        flex-direction: column;
        .formContainer {
            width: 100%; 
        }
    }
    .mapContainer {
        width: 100%;
        height: 400px; 
    }
}

@media screen and (max-width: 480px) {

    // Banner

    .bannerContainer .bannerTextContainer {
        width: 80%;
        p {
            font-size: 10px; 
        }
    } 
        


    // Navigation

    .navAbs {
        .navigationContainer {
            display: none;
        }
        .mobileNavContainer {
            width: 60vw; 
        }
        
    }

    // Base Styles 
    .headerText {
        text-align: center;
        h2 {
            font-size: 38px; 
        }
        p {
            font-size: 16px; 
        }
    }

    .sectionTitleTextContainer {
        .mainTitleTextContainer {
            h2 {
                font-size: 34px;
            }
            p {
                font-size: 14px;
            }
        }
    }

    // Preamble Component
    .preambleTitleTextContainer {
        h2 {
            width: 100%;
        }
    }
    .preambleTextContainer {
        flex-direction: column;
        .preambleMainTextContainer {
            width: 100%;
            p {
                font-size: 17px;
            }
        }
        .checkOutContainer {
            width: 100%; 
            .checkOutContainer {
                width: 100%; 
                .imageGroupContainer {
                    .imageContainer {
                        height: 100px; 
                        width: 150px; 
                    }
                }
            }
        }
    }
    .preambleTextContainer .checkOutContainer .imageGroupContainer .imageContainer {
            height: 100px; 
            width: 150px; 
    }
    .preambleTextContainer .checkOutContainer .imageGroupContainer .imageContainerLong {
            height: 200px; 
            width: 150px; 
    }

    // Embla
    .embla__button--next {
        right: 1rem; 
    }
    .embla__button--prev {
        left: 1rem;
    }
    .cardImageContainer {
        overflow: clip;
    }

    // Model Home Component
    .modelHomesContainer {
        flex-direction: column;
        .modelHomesCard {
            width: 100%;
        }
    }

    // Model Home Page
    .modelHomesPageContainer {
        flex-direction: column;
        gap: 0px; 
        .modelHomesPageCard {
            width: 100%; 
        }
    }

    // Model Home [ID] Page
    .modelHomeMain {
        .breadSection {
            padding-top: 50px; 
        }
    }
    .modelHomeContainer {
        flex-direction: column;
        .modelHomeNameAndFeaturesContainer {
            width: 100%;
        }
        .modelHomeImageContainer {
            width: 100%; 
            object-fit: contain;
            height: 300px; 
            margin-top: 30px; 
            img {
                height: auto; 
            }
        }
    }

    .sectionTitleTextContainer {
        margin: 60px 0px; 
        .mainTitleTextContainer {
            margin-bottom: 0px; 
        }
    }


    // Development Component 
    .developmentsCardsContainer {
        flex-direction: column;
        .developmentCard {
            width: 100%; 
            margin-bottom: 40px; 
        }
    }

    .sectionTitleTextContainer .mainTitleTextContainer h2 {
        width: 100%; 
    }

    // Development Page
    .developmentPageContainer {
        flex-direction: column;
        gap: 0px; 
        .developmentCard {
            width: 100%; 
        }
    }

    // Development ID Page
    .developmentMain {
        .breadSection {
            padding-top: 50px; 
        }
    }
    .IDContentContainer {
        flex-direction: column;
        .IDInfoContainer {
            width: 100%;
        }
        .IDMapContainer {
            width: 100%; 
            margin-top: 26px;
        }
    }

    // About Component 
    .aboutUsWrapper {
        width: 90%;
    }
    .aboutContainer {
        flex-direction: column;
        .aboutImgContainer {
            height: 400px; 
            width: 100%;
        }
        .aboutTextContainer {
            width: 100%;
            h3 {
                text-align: center;
            }
        }
    }

    // About Page 
    .aboutSectionsContainer {
        flex-direction: column;
        .ourStoryContainer {
            .ourStoryTextContainer, .ourStoryImgContainer {
                width: 100%; 
                img {
                        object-fit: cover;
                    }
            }
        }
        .qualityContainer {
            flex-direction: column;
            .qualityTextContainer, .qualityImgContainer {
                width: 100%;
                img {
                        object-fit: cover;
                    }
            }
        }
    }
    // Contact Page
    .formAndTextContainer {
        flex-direction: column;
        .formContainer {
            width: 100%; 
            .nameContainer, .emailAndPhoneContainer {
                flex-direction: column;
                width: 100%;
                .firstNameContainer, .lastNameContainer, .emailContainer, .phoneContainer {
                    width: 100%;
                }
            }
            .subjectInput {
                width: 100%; 
            }
            .buttonSubmit {
                width: 100%; 
            }
        }
    }
    .mapContainer {
        width: 100%;
        height: 400px; 
    }

    // Footer
    footer {
        .footerTextandLogoContainer {
            flex-direction: column;
            .footerTextContainer {
                width: 100%; 
            }
            .footerCertificationContainer {
                width: 100%; 
                text-align: left;
            }
        }
        .designContainer {
            display: none;
        }
        .footerDesignCopywrightContainer {
            justify-content: center;
        }
    } 
}

