
.modelHomesTextContainer {
    h2 {
        margin-bottom: 5px; 
    }
}

.sectionTitleTextContainer {
    display: flex;
    width: 100%; 
    flex-direction: column;
    .mainTitleTextContainer {
        width: 100%; 
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        h2 {
            font-family: $fontPrimary;
            font-size: 36px;
            letter-spacing: 1px;
            color: #284646;
            width: 50%; 
            margin-top: 0px; 
        }
        p {
            font-family: $fontSecondary;
            letter-spacing: 1px;
            text-transform: uppercase;
            
        }
    }
        .seeMoreContainer {
            margin-top: 75px; 
            align-self: center;
            a {
                padding: 10px 25px;
                text-transform: uppercase;
                font-size: 14px;
                color: $solidWhite;
                background-color: $primary;
                border-radius: 25px;
            }
    }
    p {
        margin-top: 0; 
        font-size: 16px;
    }
}

.modelHomesContainer {
    display: flex; 
    justify-content: space-between;
    flex-wrap: wrap;
    width: 70%; 
}

.cardContainer {
    width: 100%; 
    display: flex;
    justify-content: center;
    margin-top: 40px; 
}

.homesCard {
    width: 100%; 
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .cardImageContainer {
        position: relative;
        width: 100%; 
        height: 350px;
        display: flex;
        justify-content: center;
        border-radius: 0 25px 25px 25px;
    }
    .textContainer {
        margin-top: 30px; 
        h3 {
            text-transform: uppercase;
            font-size: 30px;
            letter-spacing: 1px;
            color: $tertiary;
        }
        p {
            text-align: center;
            text-transform: uppercase;
            
        }
        .locationText {
            color: $tertiary; 
            font-size: 14px;
        }
    }
}


.modelHomesCard {
    width: calc((100% / 3) - 30px);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.35);
    margin-bottom: 40px;
    border-radius: 0 25px 0 0;

    .modelHomesImgContainer {

        position: relative;
        width: 100%;
        height: 250px;
        object-fit: contain;

    }

    .modelHomesCardTextContainer {
        padding: 15px;
        text-transform: uppercase;
        background-color: #FFFF;
        height: 100%; 

        h3 {
            margin-top: 0px;
            font-size: 14px;
            color: #0a0a0a;
            letter-spacing: 1px;
        }
        p {
            margin-top: 0px;
            font-size: 10px;
            color: #0a0a0a;
        }

        .modelHomeNameAndLocationContainer {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .modelNameLocation {
                justify-self: flex-end;
                margin-top: 0px;

                p {
                    font-size: 10px;
                    background-color: #284646;
                    mix-blend-mode: multiply;
                    padding: 2px 8px;
                    color: white;

                }

            }
        }
    }

    .modelInformationBar {
        display: flex;
        justify-content: flex-start;
        margin-bottom: 20px;

        p {
            margin-bottom: 0px;
        }

        .modelInfoTextContainer {
            margin-right: 5px; 
        }
    }

    .moreDetails {
        text-align: center;
        margin-bottom: 20px;
    }
}

// Model Homes Page

.modelHomesPageContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}
.modelHomesPageCard {
            width: calc((100% / 3) - 30px);
            display: flex;
            flex-direction: column;
            overflow: hidden;
            box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.35);
            margin-bottom: 40px; 
            border-radius: 0 25px 0 0; 
            
                .modelHomesImgContainer {
            
                    position: relative;
                    width: 100%;
                    height: 250px;
                    object-fit: contain;
            
                }
            
                .modelHomesCardTextContainer {
                    padding: 15px;
                    text-transform: uppercase;
                    background-color: #FFFF;
                    h3 {
                        margin-top: 0px;
                        font-size: 14px;
                        color: #0a0a0a;
                        letter-spacing: 1px;
                    }
                    p {
                        margin-top: 0px;
                        font-size: 14px;
                        color: #0a0a0a;
                    }
            
                    .modelHomeNameAndLocationContainer {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
            
                        .modelNameLocation {
                            justify-self: flex-end;
                            margin-top: 0px;
                            span {
                                font-family: $fontSecondary;
                                font-size: 10px; 
                                background-color: #284646;
                                mix-blend-mode: multiply;
                                padding: 2px 8px;
                                color: #FFFF; 
                            }
                        }
                    }
                }
            
                .modelInformationBar {
                    display: flex;
                    justify-content: flex-start;
                    margin-bottom: 20px;
                    p {
                        margin-bottom: 0px; 
                    }
            
                    .iconAndTextContainer {
                        margin-right: 5px;
                        font-size: 14px;
                    }
                }
            
                .moreDetails {
                    text-align: center;
                    margin-bottom: 20px;
            
                    a {
                        border: 1px solid #ff7161;
                        color: #ff7161;
                        padding: 8px 20px;
                        border-radius: 12px;
            
                    }
                }
}

.modelDevelopmentLink {
    color: #ff7161;
}

.modelHomesBackground {
        .headerImageContainer {
            position: relative;
            width: 60%;
            height: 100%; 
        }
}


// ID Page

.modelHomeContainer {
    display: flex;
    margin-top: 30px; 
    .modelHomeNameAndFeaturesContainer {
        width: 30%; 
        display: flex;
        flex-direction: column;
        margin-right: 30px; 
        h2 {
            font-family: $fontPrimary;
            text-transform: uppercase;
            margin-top: 0;
            color: #424242;
            letter-spacing: 1.5px;
            font-size: 32px; 
            
        }
        p {
            font-family: $fontSecondary;
            font-size: 16px;
            letter-spacing: 0.50px;
            line-height: 30px;
            color: #424242;
               
        }
        .featuresListAndLocationContainer {
            display: flex;
            justify-content: space-between;
            border-top: 1px solid #424242;
            border-bottom: 1px solid #424242;
            padding: 5% 0; 
            h3 {
                font-size: 12px; 
                text-transform: uppercase;
                letter-spacing: 1.5px;
            }
            p {
                font-size: 12px;
                text-transform: uppercase;
                letter-spacing: 1.5px;
            }
            ul {
                li {
                    font-family: $fontSecondary;
                    font-size: 12px;
                    text-transform: uppercase;
                    margin-bottom: 5px;
                    letter-spacing: 1.5px;
                }
                li::marker {
                    font-size: 10px;
                }
            }
            .locationContainer {
                margin-right: 30px; 
                p {
                    margin-bottom: 0;
                    padding-bottom: 0;
                    
                }
                .cityLocation {
                    margin-top: 5px;
                }
            }
        }
    }
}

.contactTextContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    a {
        width: 100%;
        font-family: $fontSecondary;
        text-align: center;
        margin-top: 30px;
        margin: auto; 
        cursor: pointer;
        padding: 10px 30px;
        background-color: $primary;
        color: #FFF;
        letter-spacing: 1px;
        text-transform: uppercase;
        font-size: 14px;
        border-radius: 25px;
    }
}


.modelHomeFeaturesContainer {
    width: 30%; 
    margin-right: 30px; 
}

.modelHomeImageContainer {
    width: 70%; 
    position: relative;
    height: 500px; 
    img {
        border-radius: 0 25px 0 0;
    }
}

.modelHomeSection {
    padding-top: 0;
}