nav {
    padding: 10px 15px;
    border-bottom: 1px solid #F2F4F7;
    position: sticky;
    top: 0; 
    display: flex; 
    align-items: center;
    justify-content: flex-end;
    background-color: #FFFF;
    z-index: 5;
    .logoContainer {
        margin-right: auto;
    }
    .navigationContainer {
        display: flex; 
        background-color: white;
        list-style: none;
        li {
            a {
                color: black;
                text-decoration: none;
                margin-left: 50px; 
                font-size: 16px;
            }
            .contactButton {
                border-radius: .375rem;
                border: 1px solid #ff7161;
                padding: 8px 16px;
                color: #ff7161;
                font-size: 16px;
                
            }
        }
    }

}
