.navAbs {
    padding: 10px 15px;
    position: relative;
    top: 0; 
    width: 100%; 
    display: flex; 
    align-items: center;
    justify-content: flex-end;
    background-color: transparent;
    z-index: 1000;
    transition: all 0.4s ease-in-out;
    .navigationContainer {
        display: flex; 
        list-style: none;
        width: 100%; 
        margin: 0px; 
        .logoContainer {
            margin-right: auto;
            display: flex;
            align-items: center;
            .navTextContainer {
                p {
                    font-family: $fontPrimary;
                    color: $primary;
                    margin: 0px 15px 3px 0px; 
                    text-align: center;
                }
            }
            .logoImageContainer {
                position: relative;
                width: 90px; 
                height: 75px;
                margin-top: 5px; 
            }
        }
        li {
            align-self: center;
            a {
                color: $lightGray;
                text-decoration: none;
                margin-left: 50px; 
                font-size: 14px;
                text-transform: uppercase;
                letter-spacing: 1px;
                line-height: 13px;
                display: inline-block;
                position: relative;
                font-weight: 500;
            }
            a:hover {
                color: $solidBlack;
                &::after {
                        content: '';
                        position: absolute;
                        height: 6px;
                        width: 100%;
                        bottom: 0;
                        color: $solidBlack;
                    }
            }
            .active {
                color: $solidBlack;
            }
        }
    }
}

.fixedBar {
    position: fixed;
    background-color: $solidWhite;
    padding-top: 10px;
    .navigationContainer {
        li {
            a {
                color: $lightGray;
            }
        }
    }
}

.mobileMenuContainer, .mobile {
    display: none;
}

.mobileNavContainer {
    display: none;
}

.open {
    right: 0;
    /* Slide-in menu position */
}

.navAbs {
    .mobileNavContainer {
        display: inline;
        position: fixed;
        top: 0px;
        right: -300px;
        /* Off-canvas initially hidden position */
        width: 40vw;
        height: 100vh;
        margin-top: 0px;
        padding-top: 10%; 
        padding-left: 20px;
        background-color: $primary;
        transition: left 0.3s ease-in-out;
        text-align: center;
        li {
            list-style: none;
            margin-top: 30px;
            a {
                color: #a5a5a5;
                font-size: 14px;
                text-transform: uppercase;
                letter-spacing: 1px;
                
            }
            .active {
                color: #FFFF;
            }
            a:hover {
                color: #FFF; 
            }
        }
    }


}

.mobileMenuContainer {
    font-size: 32px;
    padding: 5px 0;
    cursor: pointer;
    margin-left: auto;
    position: relative;
    z-index: 5000;

    .iconButton {
        background-color: transparent;
        border: none;
        color: $primary;

        svg {
            path {
                stroke: #FFF;
            }

        }
    }
}

