

.preambleTitleTextContainer {
    text-align: center;
    margin-top: 10%; 
    width: 100%; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    p {
        font-family: $fontSecondary;
        text-transform: uppercase;
    }
    h2 {
        font-family: $fontPrimary;
        font-size: 36px; 
        width: 50%; 
        margin-top: 0px; 
        color: $primary;
    }
}
.preambleTextContainer {
    display: flex;
    justify-content: space-between;
    .preambleMainTextContainer {
        display: flex;
        flex-direction: column;
        padding-top: 70px; 
        width: 50%;
        margin-right: 40px;

    }
    .checkOutContainer {
        display: flex;
        .imageGroupContainer {
            display: flex;
            flex-direction: column;
            gap: 10px; 
            justify-content: center;
            margin-right: 15px; 
            .imageContainer {
                position: relative;
                height: 200px;
                width: 250px; 
                img {
                    border-radius: 0 25px 25px 25px; 
                }
            }
            .imageContainerLong {
                position: relative;
                height: 350px; 
                width: 250px; 
                img {
                    border-radius: 0 25px 25px 25px;
                }


            }
        }
        p {
            font-size: 12px;
            letter-spacing: 2.5px;
            text-transform: uppercase;
            color: #1d1d1d;
        }
        p:nth-child(3) {
            margin-top: 0px;
        }
    }
    h3 {
        font-family: "Heebo", sans-serif;
        font-size: 18px;
        text-transform: uppercase;
        letter-spacing: 1.2px;
        margin-bottom: 0px;
    }
    p {
        font-family: $fontSecondary;
        font-size: 17px;
        letter-spacing: 0.50px;
        line-height: 30px; 
        color: $solidBlack;
        margin: 0 0 10px 0; 
    }
    a {
        padding: 10px 25px;
        text-transform: uppercase;
        font-size: 14px;
        color: $solidWhite;
        background-color: $primary;
        margin-right: auto;
        border-radius: 25px;
        margin-top: 30px; 
    }
        
    a:hover {
        color: #FFF;
        background-color: #284646;
    }
}