
$primary: #284646;
$secondary: #f6f6f4;
$tertiary: #424242;
$quaternary: #E5E5CF;
$solidWhite: #FFFF; 
$lightGray: #807a73;
$solidBlack: #000; 

$fontPrimary: 'DM Serif Text', serif;
$fontSecondary: 'Montserrat', sans-serif;
