@import url("https://fonts.googleapis.com/css2?family=Didact+Gothic&family=Lato:wght@300;400&family=Roboto:wght@700&family=Heebo:wght@300;400;600&family=Lora:wght@400;600&display=swap");
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

* {
  font-family: "Didact Gothic", sans-serif;
}

main {
  background-color: #f7f4e8;
}

.wrapper {
  width: 90%;
  max-width: 1300px;
  margin: 0 auto;
}

section {
  padding: 5% 0;
  background-color: #f7f4e8;
}

h1 {
  color: white;
}

h3 {
  font-family: "Lato", sans-serif;
  font-size: 21px;
}

p {
  font-size: 18px;
}

a {
  text-decoration: none;
  color: #284646;
  font-size: 18px;
}

hr {
  color: #424242;
  opacity: 0.1;
  background-color: #f7f4e8;
}

svg {
  vertical-align: middle;
  padding-bottom: 2px;
}

.oddSection {
  padding: 0;
}

.headerText {
  height: 55vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.headerText h2 {
  color: white;
  text-transform: uppercase;
  font-size: 58px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  margin: 5px 0px;
  letter-spacing: 2px;
}
.headerText p {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 24px;
  color: white;
  margin-top: 0px;
}

.oddBackground {
  background-color: white;
}

.sectionTitleTextContainer h2 {
  margin-bottom: 5px;
}
.sectionTitleTextContainer .subTextContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}
.sectionTitleTextContainer .subTextContainer .seeMoreContainer {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ff7161;
}
.sectionTitleTextContainer .subTextContainer .seeMoreContainer a {
  color: #284646;
}
.sectionTitleTextContainer .subTextContainer p {
  margin: 0px;
}

.breadSection {
  margin: 0px;
  padding: 0;
}

.breadContainer {
  position: static;
  display: flex;
  justify-content: flex-start;
  padding: 5% 0 0 0;
}
.breadContainer .breadList {
  list-style: none;
  padding: 0;
  margin-bottom: 0px;
  display: flex;
  position: relative;
}
.breadContainer .breadList li {
  margin-right: 10px;
}
.breadContainer .breadList li a {
  font-family: "Heebo", serif;
  text-transform: uppercase;
  letter-spacing: 0.8px;
  font-size: 16px;
}
.breadContainer .breadList li::after {
  content: "/";
  margin-left: 10px;
}
.breadContainer .breadList li:nth-child(3)::after {
  content: "";
}

.modelBreadList {
  list-style: none;
  padding: 0;
  margin-bottom: 0px;
  display: flex;
  position: relative;
}
.modelBreadList li {
  margin-right: 10px;
}
.modelBreadList li a {
  font-family: "Heebo", serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 16px;
}
.modelBreadList li::after {
  content: "/";
  margin-left: 10px;
}
.modelBreadList li:nth-child(2)::after {
  content: "";
}

.bannerContainer {
  display: flex;
  justify-content: center;
  background-color: #284646;
  padding: 20px 0px;
}

.errorContainer {
  display: flex;
  justify-content: center;
}
.errorContainer .errorPageTextContainer {
  display: flex;
  text-align: center;
  flex-direction: column;
}
.errorContainer .errorPageTextContainer h3 {
  font-family: "Laro", sans-serif;
  color: #284646;
  letter-spacing: 1px;
  font-size: 72px;
  margin-bottom: 0px;
}
.errorContainer .errorPageTextContainer p {
  font-family: "Heebo", sans-serif;
  font-size: 24px;
  color: #284646;
  margin-bottom: 60px;
}
.errorContainer .errorPageTextContainer a {
  padding: 10px 30px;
  background-color: #284646;
  color: #FFF;
  align-items: center;
  margin-top: 30px;
  margin: auto;
  letter-spacing: 1px;
  font-weight: bold;
}

.imageHeader {
  position: absolute;
  width: 100%;
  height: 100%;
}

.navAbs {
  padding: 10px 15px;
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: transparent;
  z-index: 1000;
  transition: all 0.4s ease-in-out;
}
.navAbs .logoContainer {
  margin-right: auto;
}
.navAbs .navigationContainer {
  display: flex;
  list-style: none;
}
.navAbs .navigationContainer li a {
  font-family: "Heebo", sans-serif;
  color: #fff;
  text-decoration: none;
  margin-left: 50px;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2.6px;
  line-height: 13px;
}

.fixedBar {
  position: fixed;
  background-color: #284646;
  padding-top: 10px;
}
.fixedBar .navigationContainer li a {
  color: #FFF;
}

.mobileMenuContainer, .mobile {
  display: none;
}

.mobileNavContainer {
  display: none;
}

.open {
  left: 0;
  /* Slide-in menu position */
}

.navAbs .mobileNavContainer {
  display: inline;
  position: fixed;
  top: 0px;
  left: -300px;
  /* Off-canvas initially hidden position */
  width: 40vw;
  height: 100vh;
  margin-top: 0px;
  padding-top: 10%;
  padding-left: 20px;
  background-color: #284646;
  transition: left 0.3s ease-in-out;
}
.navAbs .mobileNavContainer li {
  list-style: none;
  margin-top: 30px;
}
.navAbs .mobileNavContainer li a {
  color: #FFF;
  font-family: "Heebo";
  text-transform: uppercase;
  letter-spacing: 1px;
}

.mobileMenuContainer {
  font-size: 32px;
  padding: 5px 0;
  cursor: pointer;
  margin-right: auto;
  position: relative;
  z-index: 5000;
}
.mobileMenuContainer .iconButton {
  background-color: transparent;
  border: none;
  color: #FFF;
}
.mobileMenuContainer .iconButton svg path {
  stroke: #FFF;
}

.preambleTextContainer {
  display: flex;
  justify-content: space-between;
}
.preambleTextContainer .preambleMainTextContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60%;
}
.preambleTextContainer .checkOutContainer {
  display: flex;
  flex-direction: column;
}
.preambleTextContainer .checkOutContainer .checkOutImageContainer {
  position: relative;
  height: 250px;
  width: 250px;
}
.preambleTextContainer .checkOutContainer a {
  align-self: start;
}
.preambleTextContainer .checkOutContainer p {
  font-size: 12px;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  color: #1d1d1d;
}
.preambleTextContainer .checkOutContainer p:nth-child(3) {
  margin-top: 0px;
}
.preambleTextContainer h3 {
  font-family: "Heebo", sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  margin-bottom: 0px;
}
.preambleTextContainer p {
  font-family: "Lora", serif;
  font-size: 17px;
  letter-spacing: 0.5px;
  line-height: 30px;
  color: #424242;
}
.preambleTextContainer a {
  margin-top: 10px;
  padding: 10px 24px;
  border: 1px solid #284646;
  background-color: transparent;
  color: #284646;
  text-transform: uppercase;
  font-size: 14px;
}
.preambleTextContainer a:hover {
  color: #FFF;
  background-color: #284646;
}

.imageBreakContainer {
  position: relative;
  height: 400px;
}

.embla {
  --slide-spacing: 1rem;
  --slide-size: 100%;
  --slide-height: 19rem;
  height: 100vh;
}

.embla__viewport {
  overflow: hidden;
}

.embla__container {
  display: flex;
  flex-direction: row;
  height: auto;
  margin-left: calc(var(--slide-spacing) * -1);
}

.embla__slide {
  flex: 0 0 var(--slide-size);
  min-width: 0;
  padding-left: var(--slide-spacing);
  position: relative;
  height: 100vh;
}

.embla__slide__img {
  display: block;
  height: var(--slide-height);
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.embla__slide__number > span {
  color: white;
  background-image: white;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.6rem;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.embla__dot,
.embla__button {
  background-color: transparent;
  -webkit-appearance: none;
  touch-action: manipulation;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
}

.embla__dots {
  z-index: 1;
  bottom: 1.2rem;
  position: absolute;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.embla__dot {
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  margin-right: 0.75rem;
  margin-left: 0.75rem;
}

.embla__dot:after {
  background: white;
  border-radius: 0.2rem;
  width: 100%;
  height: 0.3rem;
  content: "";
}

.embla__dot--selected:after {
  background: #284646;
}

.embla__button {
  z-index: 1;
  color: white;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  width: 4rem;
  height: 4rem;
  fill: white;
}

.embla__button--prev {
  left: 1.6rem;
}

.embla__button--next {
  right: 1.6rem;
  color: white;
}

.embla__button:disabled {
  opacity: 0.3;
}

.embla__button__svg {
  width: 65%;
  height: 65%;
  color: white;
}

.slideOne {
  position: relative;
  z-index: -10;
}
.slideOne .heroMainText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  position: relative;
  z-index: 100;
}
.slideOne .heroMainText h1 {
  font-size: 16px;
  margin-bottom: 0px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-family: "Heebo", serif;
}
.slideOne .heroMainText h3 {
  font-family: "Lora", sans-serif;
  color: white;
  text-transform: uppercase;
  font-size: 38px;
  text-align: center;
  letter-spacing: 0.5px;
}
.slideOne .heroMainText h3 br {
  margin: 10px 0px;
}

.slideTwo {
  position: relative;
  z-index: -10;
}
.slideTwo .heroContainer {
  position: relative;
  z-index: 100;
}

.slideThree {
  position: relative;
  z-index: -10;
}
.slideThree .heroContainer {
  position: relative;
  z-index: 100;
}

.opacityCover {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9));
  position: absolute;
  z-index: 50;
  height: 100%;
  width: 100%;
}

.heroContainer {
  height: 100%;
}

.heroTextContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 100%;
  padding: 0 0 5% 10%;
  width: 50%;
}
.heroTextContainer h2 {
  color: white;
  font-size: 36px;
  margin-bottom: 5px;
}
.heroTextContainer p {
  color: #e5e5e5;
  font-size: 18px;
}
.heroTextContainer .buttonContainer {
  display: flex;
  margin-top: 10px;
}
.heroTextContainer .buttonContainer .viewOne {
  background-color: #fff;
  border: 1px solid #d0d5dd;
  border-radius: 8px;
  box-shadow: 0 1px 2px rgba(16, 24, 40, 0.05);
  color: #284646;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  margin-right: 20px;
  padding: 8px 16px;
  text-decoration: none;
}
.heroTextContainer .buttonContainer .viewAll {
  background: #284646;
  border: 1px solid #284646;
  border-radius: 8px;
  box-shadow: 0 1px 2px rgba(16, 24, 40, 0.05);
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  padding: 8px 16px;
  text-decoration: none;
}

.heroTextContainer h2 {
  font-family: "Heebo", sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
}
.heroTextContainer p {
  font-family: "Lora", serif;
  color: white;
  letter-spacing: 0.5px;
  line-height: 30px;
}

.modelHomesTextContainer h2 {
  margin-bottom: 5px;
}

.sectionTitleTextContainer .mainTitleTextContainer {
  text-align: center;
}
.sectionTitleTextContainer .mainTitleTextContainer h2 {
  font-family: "Laro", serif;
  font-size: 42px;
  letter-spacing: 1px;
  color: #284646;
  margin: 10px 0px 20px 0px;
  text-transform: uppercase;
}
.sectionTitleTextContainer .mainTitleTextContainer p {
  font-family: "Heebo", sans-serif;
  color: #424242;
  letter-spacing: 1px;
}
.sectionTitleTextContainer .subTextContainer {
  justify-content: flex-end;
}
.sectionTitleTextContainer .subTextContainer .seeMoreContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-bottom: 1px solid #ff7161;
}
.sectionTitleTextContainer .subTextContainer .seeMoreContainer a {
  color: #284646;
}
.sectionTitleTextContainer p {
  margin-top: 0;
  font-size: 16px;
}

.modelHomesContainer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.modelHomesCard {
  width: calc(25% - 30px);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.35);
  margin-bottom: 40px;
}
.modelHomesCard .modelHomesImgContainer {
  position: relative;
  width: 100%;
  height: 250px;
  -o-object-fit: contain;
     object-fit: contain;
}
.modelHomesCard .modelHomesCardTextContainer {
  padding: 15px;
  text-transform: uppercase;
  background-color: white;
}
.modelHomesCard .modelHomesCardTextContainer h3 {
  font-family: "Heebo", sans-serif;
  margin-top: 0px;
  font-size: 14px;
  color: #0a0a0a;
  letter-spacing: 1px;
}
.modelHomesCard .modelHomesCardTextContainer p {
  margin-top: 0px;
  font-size: 14px;
  color: #0a0a0a;
}
.modelHomesCard .modelHomesCardTextContainer .modelHomeNameAndLocationContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.modelHomesCard .modelHomesCardTextContainer .modelHomeNameAndLocationContainer .modelNameLocation {
  justify-self: flex-end;
  margin-top: 0px;
}
.modelHomesCard .modelHomesCardTextContainer .modelHomeNameAndLocationContainer .modelNameLocation span {
  font-size: 12px;
  background-color: #284646;
  mix-blend-mode: multiply;
  padding: 2px 8px;
  color: white;
}
.modelHomesCard .modelInformationBar {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 20px;
}
.modelHomesCard .modelInformationBar p {
  margin-bottom: 0px;
}
.modelHomesCard .modelInformationBar .iconAndTextContainer {
  margin-right: 5px;
  font-size: 14px;
}
.modelHomesCard .moreDetails {
  text-align: center;
  margin-bottom: 20px;
}
.modelHomesCard .moreDetails a {
  border: 1px solid #ff7161;
  color: #ff7161;
  padding: 8px 20px;
  border-radius: 12px;
}

.modelHomesPageContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

.modelHomesPageCard {
  width: calc(33.3333333333% - 30px);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.35);
  margin-bottom: 40px;
}
.modelHomesPageCard .modelHomesImgContainer {
  position: relative;
  width: 100%;
  height: 250px;
  -o-object-fit: contain;
     object-fit: contain;
}
.modelHomesPageCard .modelHomesCardTextContainer {
  padding: 15px;
  text-transform: uppercase;
  background-color: white;
}
.modelHomesPageCard .modelHomesCardTextContainer h3 {
  font-family: "Heebo", sans-serif;
  margin-top: 0px;
  font-size: 14px;
  color: #0a0a0a;
  letter-spacing: 1px;
}
.modelHomesPageCard .modelHomesCardTextContainer p {
  margin-top: 0px;
  font-size: 14px;
  color: #0a0a0a;
}
.modelHomesPageCard .modelHomesCardTextContainer .modelHomeNameAndLocationContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.modelHomesPageCard .modelHomesCardTextContainer .modelHomeNameAndLocationContainer .modelNameLocation {
  justify-self: flex-end;
  margin-top: 0px;
}
.modelHomesPageCard .modelHomesCardTextContainer .modelHomeNameAndLocationContainer .modelNameLocation span {
  font-size: 12px;
  background-color: #284646;
  mix-blend-mode: multiply;
  padding: 2px 8px;
  color: white;
}
.modelHomesPageCard .modelInformationBar {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 20px;
}
.modelHomesPageCard .modelInformationBar p {
  margin-bottom: 0px;
}
.modelHomesPageCard .modelInformationBar .iconAndTextContainer {
  margin-right: 5px;
  font-size: 14px;
}
.modelHomesPageCard .moreDetails {
  text-align: center;
  margin-bottom: 20px;
}
.modelHomesPageCard .moreDetails a {
  border: 1px solid #ff7161;
  color: #ff7161;
  padding: 8px 20px;
  border-radius: 12px;
}

.modelDevelopmentLink {
  color: #ff7161;
}

.modelHomesBackground .headerImageContainer {
  position: relative;
  width: 100%;
  height: 100%;
}
.modelHomesBackground h2 {
  position: absolute;
  z-index: 50;
}

.modelHomeContainer {
  display: flex;
  margin-top: 30px;
}
.modelHomeContainer .modelHomeNameAndFeaturesContainer {
  width: 30%;
  display: flex;
  flex-direction: column;
  margin-right: 30px;
}
.modelHomeContainer .modelHomeNameAndFeaturesContainer h2 {
  font-family: "Lora", sans-serif;
  text-transform: uppercase;
  margin-top: 0;
  color: #424242;
  letter-spacing: 1.5px;
  font-size: 32px;
}
.modelHomeContainer .modelHomeNameAndFeaturesContainer p {
  font-family: "Lora", sans-serif;
  font-size: 16px;
  letter-spacing: 0.5px;
  line-height: 30px;
  color: #424242;
}
.modelHomeContainer .modelHomeNameAndFeaturesContainer .featuresListAndLocationContainer {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #424242;
  border-bottom: 1px solid #424242;
  padding: 5% 0;
}
.modelHomeContainer .modelHomeNameAndFeaturesContainer .featuresListAndLocationContainer h3 {
  font-family: "Heebo", serif;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}
.modelHomeContainer .modelHomeNameAndFeaturesContainer .featuresListAndLocationContainer p {
  font-family: "Heebo", serif;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}
.modelHomeContainer .modelHomeNameAndFeaturesContainer .featuresListAndLocationContainer ul li {
  font-family: "Heebo", serif;
  font-size: 12px;
  text-transform: uppercase;
  margin-bottom: 5px;
  letter-spacing: 1.5px;
}
.modelHomeContainer .modelHomeNameAndFeaturesContainer .featuresListAndLocationContainer ul li::marker {
  font-size: 10px;
}
.modelHomeContainer .modelHomeNameAndFeaturesContainer .featuresListAndLocationContainer .locationContainer {
  margin-right: 30px;
}
.modelHomeContainer .modelHomeNameAndFeaturesContainer .featuresListAndLocationContainer .locationContainer p {
  margin-bottom: 0;
  padding-bottom: 0;
}
.modelHomeContainer .modelHomeNameAndFeaturesContainer .featuresListAndLocationContainer .locationContainer .cityLocation {
  margin-top: 5px;
}

.contactTextContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}
.contactTextContainer a {
  width: 100%;
  text-align: center;
  margin-top: 30px;
  margin: auto;
  cursor: pointer;
  padding: 10px 30px;
  background-color: #284646;
  color: #FFF;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 14px;
}

.modelHomeFeaturesContainer {
  width: 30%;
  margin-right: 30px;
}

.modelHomeImageContainer {
  width: 70%;
  position: relative;
  height: 500px;
}

.modelHomeSection {
  padding-top: 0;
}

.developmentTitleTextContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.developmentTitleTextContainer .learnMoreDevelopmentsContainer {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ff7161;
}
.developmentTitleTextContainer .learnMoreDevelopmentsContainer a {
  color: #284646;
}

.recentDevelopmentTextContainer h2 {
  margin-bottom: 5px;
}
.recentDevelopmentTextContainer p {
  margin-top: 0px;
}

.developmentsCardsContainer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}
.developmentsCardsContainer .developmentCard {
  width: calc(33.3333333333% - 30px);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.35);
  background-color: #fff;
}
.developmentsCardsContainer .developmentCard .developmentImgContainer {
  position: relative;
  width: 100%;
  height: 250px;
  -o-object-fit: contain;
     object-fit: contain;
}
.developmentsCardsContainer .developmentCard .developmentTextContainer {
  padding: 15px;
  text-transform: uppercase;
}
.developmentsCardsContainer .developmentCard .developmentTextContainer .developmentTitleTextContainer h3 {
  font-family: "Heebo", sans-serif;
  margin-top: 0px;
  font-size: 14px;
  color: #0a0a0a;
  letter-spacing: 1px;
}
.developmentsCardsContainer .developmentCard .developmentTextContainer .developmentLocationTextContainer p {
  font-size: 12px;
  background-color: #284646;
  mix-blend-mode: multiply;
  padding: 2px 8px;
  color: white;
}
.developmentsCardsContainer .developmentCard .developmentTextContainer h3,
.developmentsCardsContainer .developmentCard .developmentTextContainer p {
  margin-top: 0px;
}

.developmentTextContainer {
  display: flex;
  justify-content: space-between;
}
.developmentTextContainer .developmentLocationTextContainer {
  display: flex;
  align-items: center;
}
.developmentTextContainer .developmentLearnMoreContainer {
  margin-left: 10px;
}

.developmentHeader .headerImageContainer {
  position: relative;
  width: 100%;
  height: 100%;
}
.developmentHeader h2 {
  position: absolute;
  z-index: 50;
}

.developmentPageContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}
.developmentPageContainer .developmentCard {
  width: calc(33.3333333333% - 40px);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.35);
  margin-bottom: 40px;
  background-color: #fff;
}
.developmentPageContainer .developmentCard .developmentTextContainer {
  padding: 15px;
  text-transform: uppercase;
}
.developmentPageContainer .developmentCard .developmentTextContainer .developmentTitleTextContainer h3 {
  font-family: "Heebo", sans-serif;
  margin-top: 0px;
  font-size: 14px;
  color: #0a0a0a;
  letter-spacing: 1px;
}
.developmentPageContainer .developmentCard .developmentTextContainer .developmentLocationTextContainer p {
  font-size: 12px;
  background-color: #284646;
  mix-blend-mode: multiply;
  padding: 2px 8px;
  color: white;
}
.developmentPageContainer .developmentCard .developmentTextContainer h3,
.developmentPageContainer .developmentCard .developmentTextContainer p {
  margin-top: 0px;
}
.developmentPageContainer .developmentCard .sceneryPictureContainer {
  position: relative;
  width: 100%;
  height: 250px;
  -o-object-fit: contain;
     object-fit: contain;
}

.IDContentContainer {
  display: flex;
  margin-top: 30px;
}
.IDContentContainer .IDInfoContainer {
  width: 30%;
  display: flex;
  flex-direction: column;
  margin-right: 30px;
}
.IDContentContainer .IDInfoContainer h2 {
  font-family: "Lora", sans-serif;
  text-transform: uppercase;
  margin-top: 0;
  color: #424242;
  letter-spacing: 1.5px;
  font-size: 32px;
}
.IDContentContainer .IDInfoContainer p {
  font-family: "Lora", sans-serif;
  font-size: 16px;
  letter-spacing: 0.5px;
  line-height: 30px;
  color: #424242;
}
.IDContentContainer .IDInfoContainer .featuresListAndLocationContainer {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #424242;
  border-bottom: 1px solid #424242;
  padding: 5% 0;
}
.IDContentContainer .IDInfoContainer .featuresListAndLocationContainer h3 {
  font-family: "Heebo", serif;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}
.IDContentContainer .IDInfoContainer .featuresListAndLocationContainer p {
  font-family: "Heebo", serif;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}
.IDContentContainer .IDInfoContainer .featuresListAndLocationContainer ul li {
  font-family: "Heebo", serif;
  font-size: 12px;
  text-transform: uppercase;
  margin-bottom: 5px;
  letter-spacing: 1.5px;
}
.IDContentContainer .IDInfoContainer .featuresListAndLocationContainer ul li::marker {
  font-size: 10px;
}
.IDContentContainer .IDMapContainer {
  margin-right: 30px;
  width: 70%;
}
.IDContentContainer .IDMapContainer .mapContainer {
  width: 100%;
  height: 500px;
}
.IDContentContainer .IDMapContainer p {
  margin-bottom: 0;
  padding-bottom: 0;
}
.IDContentContainer .IDMapContainer .cityLocation {
  margin-top: 5px;
}

.aboutUsHeader .headerImageContainer {
  position: relative;
  width: 100%;
  height: 100%;
}
.aboutUsHeader h2 {
  position: absolute;
  z-index: 50;
}

.aboutContainer {
  display: flex;
  justify-content: center;
}
.aboutContainer .aboutImgContainer {
  width: 30%;
  position: relative;
  margin-right: 10px;
}
.aboutContainer .aboutImgContainer img {
  -o-object-fit: cover;
     object-fit: cover;
}
.aboutContainer .aboutTextContainer {
  width: 50%;
}
.aboutContainer .aboutTextContainer h3 {
  font-family: "Heebo", sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 1.2px;
}
.aboutContainer .aboutTextContainer p {
  font-family: "Lora", serif;
  font-size: 17px;
  letter-spacing: 0.5px;
  line-height: 30px;
  color: #424242;
}

.aboutUsLinkContainer {
  border-bottom: 1px solid #ff7161;
}

.aboutUsWrapper {
  width: 70%;
}

.aboutSectionsContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.aboutSectionsContainer .ourStoryContainer {
  display: flex;
  margin-bottom: 30px;
}
.aboutSectionsContainer .ourStoryContainer .ourStoryTextContainer {
  width: 90%;
  padding: 2% 0% 2% 0%;
}
.aboutSectionsContainer .ourStoryContainer .ourStoryTextContainer h3 {
  font-family: "Heebo", sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  margin-top: 0px;
}
.aboutSectionsContainer .ourStoryContainer .ourStoryTextContainer p {
  font-family: "Lora", serif;
  font-size: 17px;
  letter-spacing: 0.5px;
  line-height: 30px;
  color: #424242;
  padding-right: 4%;
}
.aboutSectionsContainer .ourStoryContainer .ourStoryImgContainer {
  position: relative;
  height: 400px;
  width: 90%;
}
.aboutSectionsContainer .qualityContainer {
  display: flex;
  flex-direction: row-reverse;
  margin-top: 30px;
}
.aboutSectionsContainer .qualityContainer .qualityTextContainer {
  width: 90%;
  padding: 2% 0% 2% 0%;
}
.aboutSectionsContainer .qualityContainer .qualityTextContainer h3 {
  font-family: "Heebo", sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  padding-left: 4%;
  margin-top: 0px;
}
.aboutSectionsContainer .qualityContainer .qualityTextContainer p {
  font-family: "Lora", serif;
  font-size: 17px;
  letter-spacing: 0.5px;
  line-height: 30px;
  color: #424242;
  padding-left: 4%;
}
.aboutSectionsContainer .qualityContainer .qualityImgContainer {
  height: 400px;
  position: relative;
  width: 90%;
}

.aboutUsTextAndImageContainer {
  display: flex;
}
.aboutUsTextAndImageContainer .textContainer {
  width: 50%;
}
.aboutUsTextAndImageContainer .textContainer p {
  line-height: 1.75;
}

.contactSection {
  background-color: #f7f6f3;
}

.formAndTextContainer {
  display: flex;
}

.contactTitleContainer p {
  font-family: "Lora", serif;
  font-size: 17px;
  letter-spacing: 0.5px;
  line-height: 30px;
  color: #424242;
}

.mapContainer {
  position: relative;
  width: 50%;
}

.formContainer {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 30px 20px 8px 25px;
}
.formContainer form {
  display: flex;
  flex-direction: column;
}
.formContainer form h3 {
  text-transform: uppercase;
  font-size: 18px;
  margin-bottom: 30px;
}
.formContainer form label {
  font-family: "Lora", sans-serif;
  color: #424242;
}
.formContainer form input {
  margin: 15px 0px;
  padding: 8px;
  border-radius: 4px;
  border-width: 1px;
  border-color: #dadbde;
  border-style: solid;
}
.formContainer form textarea {
  margin: 15px 0px;
  padding: 8px;
  border-radius: 4px;
  border-width: 1px;
  border-color: #dadbde;
  border-style: solid;
  resize: none;
}
.formContainer form .nameContainer {
  display: flex;
  justify-content: space-between;
}
.formContainer form .nameContainer .firstNameContainer, .formContainer form .nameContainer .lastNameContainer {
  display: flex;
  flex-direction: column;
  width: 45%;
}
.formContainer form .emailAndPhoneContainer {
  display: flex;
  justify-content: space-between;
}
.formContainer form .emailAndPhoneContainer .phoneContainer, .formContainer form .emailAndPhoneContainer .emailContainer {
  width: 45%;
}
.formContainer form .emailAndPhoneContainer .phoneContainer input, .formContainer form .emailAndPhoneContainer .emailContainer input {
  width: 100%;
}
.formContainer form .buttonSubmit {
  background-color: #284646;
  cursor: pointer;
  color: white;
  padding: 10px 16px;
  font-weight: bold;
  border-radius: 4px;
}
.formContainer form .subjectInput {
  width: 45%;
}
.formContainer form .buttonSubmit {
  width: 30%;
}

.contactHeaderBackground .headerImageContainer {
  position: relative;
  width: 100%;
  height: 100%;
}
.contactHeaderBackground h2 {
  position: absolute;
  z-index: 50;
}

.mapAndContactInfoContainer {
  display: flex;
  height: 400px;
}
.mapAndContactInfoContainer .mapContainer {
  width: 50%;
  position: relative;
}
.mapAndContactInfoContainer .contactInfoContainer {
  width: 50%;
  padding: 20px;
  display: flex;
  flex-direction: column;
}
.mapAndContactInfoContainer .contactInfoContainer .addressContainer, .mapAndContactInfoContainer .contactInfoContainer .phoneContainer, .mapAndContactInfoContainer .contactInfoContainer .emailContainer {
  display: flex;
  align-items: center;
}
.mapAndContactInfoContainer .contactInfoContainer .addressContainer .iconContainer, .mapAndContactInfoContainer .contactInfoContainer .phoneContainer .iconContainer, .mapAndContactInfoContainer .contactInfoContainer .emailContainer .iconContainer {
  margin-right: 20px;
  font-size: 24px;
}

.galleryHeader .headerImageContainer {
  position: relative;
  width: 100%;
  height: 100%;
}
.galleryHeader h2 {
  position: absolute;
  z-index: 50;
}

.tabsMainContainer {
  display: flex;
  justify-content: center;
}

.tabsContainer {
  display: flex;
  justify-content: space-evenly;
  width: 80%;
  margin-bottom: 50px;
  background-color: #fefefe;
  padding: 15px;
  position: relative;
}
.tabsContainer .galleryButton {
  cursor: pointer;
  background-color: transparent;
  text-transform: uppercase;
  border: none;
  font-size: 14px;
  color: #7a7a7a;
}

.galleryItemsContainer {
  display: flex;
  flex-wrap: wrap;
}

.galleryImageContainer {
  width: calc(25% - 30px);
  position: relative;
  height: 250px;
  -o-object-fit: contain;
     object-fit: contain;
  margin: 0px 30px 30px 0px;
}

.galleryImageContainer:nth-child(4n) {
  margin-right: 0px;
}

footer {
  font-family: "Lora", serif;
  color: white;
  background-color: #284646;
}
footer .footerTextandLogoContainer {
  display: flex;
  width: 100%;
}
footer .footerDesignCopywrightContainer {
  display: flex;
  justify-content: space-between;
}
footer .footerLinksContainer {
  padding: 5% 0 2% 0;
}
footer .footerLinksContainer nav {
  position: static;
  justify-content: flex-start;
  padding: 0px;
  border-bottom: none;
  background-color: #284646;
}
footer .footerLinksContainer .footerNavigationContainer {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0px;
}
footer .footerLinksContainer .footerNavigationContainer li {
  margin-bottom: 16px;
}
footer .footerLinksContainer .footerNavigationContainer li a {
  font-family: "Heebo", sans-serif;
  text-decoration: none;
  color: #e5e5e5;
  margin-right: 30px;
  text-decoration: underline;
  text-underline-offset: 7px;
  text-transform: uppercase;
  font-size: 14px;
}

.footerCopy {
  font-size: 14px;
  color: #e5e5e5;
}
.footerCopy a {
  color: #e5e5e5;
  font-size: 14px;
}

.footerTextContainer {
  padding: 5% 0 2% 0;
  width: 50%;
}
.footerTextContainer h4 {
  font-family: "Lora", serif;
  font-weight: 400;
  letter-spacing: 1px;
  margin: 16px 0px;
}

.footerCertificationContainer {
  padding: 5% 0 2% 0;
  width: 50%;
  text-align: right;
}
.footerCertificationContainer p {
  font-family: "Heebo", sans-serif;
  color: #e5e5e5;
  letter-spacing: 1px;
  font-size: 14px;
}

address {
  font-style: normal;
}
address p, address a, address span {
  font-family: "Lora", sans-serif;
  font-size: 14px;
  letter-spacing: 1px;
  color: #e5e5e5;
}

@media screen and (max-width: 768px) {
  .mobileMenuContainer {
    display: inline;
  }
  .navAbs .navigationContainer {
    display: none;
  }
  .aboutContainer {
    flex-direction: column;
  }
  .aboutContainer .aboutImgContainer {
    height: 400px;
    width: 100%;
  }
  .aboutContainer .aboutTextContainer {
    width: 100%;
  }
  .aboutContainer .aboutTextContainer h3 {
    text-align: center;
  }
  .aboutSectionsContainer {
    flex-direction: column;
  }
  .aboutSectionsContainer .ourStoryContainer {
    flex-direction: column;
  }
  .aboutSectionsContainer .ourStoryContainer .ourStoryTextContainer, .aboutSectionsContainer .ourStoryContainer .ourStoryImgContainer {
    width: 100%;
  }
  .aboutSectionsContainer .qualityContainer {
    flex-direction: column;
  }
  .aboutSectionsContainer .qualityContainer .qualityTextContainer, .aboutSectionsContainer .qualityContainer .qualityImgContainer {
    width: 100%;
  }
  .developmentPageContainer {
    gap: 40px;
  }
  .developmentPageContainer .developmentCard {
    width: calc(50% - 40px);
  }
  .IDContentContainer {
    flex-direction: column;
  }
  .IDContentContainer .IDInfoContainer {
    width: 100%;
  }
  .IDContentContainer .IDMapContainer {
    width: 100%;
    margin-top: 26px;
  }
  .modelHomesContainer .modelHomesCard {
    width: calc(50% - 30px);
  }
  .modelHomesPageContainer {
    gap: 40px;
  }
  .modelHomesPageContainer .modelHomesPageCard {
    width: calc(50% - 40px);
  }
  .modelHomeContainer {
    flex-direction: column;
  }
  .modelHomeContainer .modelHomeNameAndFeaturesContainer {
    width: 100%;
  }
  .modelHomeContainer .modelHomeImageContainer {
    width: 100%;
    -o-object-fit: contain;
       object-fit: contain;
    height: 400px;
    margin-top: 30px;
  }
  .modelHomeContainer .modelHomeImageContainer img {
    height: auto;
  }
  .formAndTextContainer {
    flex-direction: column;
  }
  .formAndTextContainer .formContainer {
    width: 100%;
  }
  .mapContainer {
    width: 100%;
    height: 400px;
  }
}
@media screen and (max-width: 480px) {
  .navAbs .navigationContainer {
    display: none;
  }
  .navAbs .mobileNavContainer {
    width: 60vw;
  }
  .headerText {
    text-align: center;
  }
  .headerText h2 {
    font-size: 38px;
  }
  .headerText p {
    font-size: 16px;
  }
  .sectionTitleTextContainer .mainTitleTextContainer h2 {
    font-size: 34px;
  }
  .sectionTitleTextContainer .mainTitleTextContainer p {
    font-size: 14px;
  }
  .preambleTextContainer {
    flex-direction: column;
  }
  .preambleTextContainer .preambleMainTextContainer {
    width: 100%;
  }
  .preambleTextContainer .preambleMainTextContainer p {
    font-size: 17px;
  }
  .preambleTextContainer .checkOutContainer .checkOutImageContainer {
    width: 100%;
  }
  .preambleTextContainer .checkOutContainer .checkOutImageContainer img {
    -o-object-fit: cover;
       object-fit: cover;
  }
  .modelHomesContainer {
    flex-direction: column;
  }
  .modelHomesContainer .modelHomesCard {
    width: 100%;
  }
  .modelHomesPageContainer {
    flex-direction: column;
    gap: 0px;
  }
  .modelHomesPageContainer .modelHomesPageCard {
    width: 100%;
  }
  .modelHomeMain .breadSection {
    padding-top: 50px;
  }
  .modelHomeContainer {
    flex-direction: column;
  }
  .modelHomeContainer .modelHomeNameAndFeaturesContainer {
    width: 100%;
  }
  .modelHomeContainer .modelHomeImageContainer {
    width: 100%;
    -o-object-fit: contain;
       object-fit: contain;
    height: 300px;
    margin-top: 30px;
  }
  .modelHomeContainer .modelHomeImageContainer img {
    height: auto;
  }
  .developmentsCardsContainer {
    flex-direction: column;
  }
  .developmentsCardsContainer .developmentCard {
    width: 100%;
    margin-bottom: 40px;
  }
  .developmentPageContainer {
    flex-direction: column;
    gap: 0px;
  }
  .developmentPageContainer .developmentCard {
    width: 100%;
  }
  .developmentMain .breadSection {
    padding-top: 50px;
  }
  .IDContentContainer {
    flex-direction: column;
  }
  .IDContentContainer .IDInfoContainer {
    width: 100%;
  }
  .IDContentContainer .IDMapContainer {
    width: 100%;
    margin-top: 26px;
  }
  .aboutUsWrapper {
    width: 90%;
  }
  .aboutContainer {
    flex-direction: column;
  }
  .aboutContainer .aboutImgContainer {
    height: 400px;
    width: 100%;
  }
  .aboutContainer .aboutTextContainer {
    width: 100%;
  }
  .aboutContainer .aboutTextContainer h3 {
    text-align: center;
  }
  .aboutSectionsContainer {
    flex-direction: column;
  }
  .aboutSectionsContainer .ourStoryContainer .ourStoryTextContainer, .aboutSectionsContainer .ourStoryContainer .ourStoryImgContainer {
    width: 100%;
  }
  .aboutSectionsContainer .ourStoryContainer .ourStoryTextContainer img, .aboutSectionsContainer .ourStoryContainer .ourStoryImgContainer img {
    -o-object-fit: cover;
       object-fit: cover;
  }
  .aboutSectionsContainer .qualityContainer {
    flex-direction: column;
  }
  .aboutSectionsContainer .qualityContainer .qualityTextContainer, .aboutSectionsContainer .qualityContainer .qualityImgContainer {
    width: 100%;
  }
  .aboutSectionsContainer .qualityContainer .qualityTextContainer img, .aboutSectionsContainer .qualityContainer .qualityImgContainer img {
    -o-object-fit: cover;
       object-fit: cover;
  }
  .formAndTextContainer {
    flex-direction: column;
  }
  .formAndTextContainer .formContainer {
    width: 100%;
  }
  .formAndTextContainer .formContainer .nameContainer, .formAndTextContainer .formContainer .emailAndPhoneContainer {
    flex-direction: column;
    width: 100%;
  }
  .formAndTextContainer .formContainer .nameContainer .firstNameContainer, .formAndTextContainer .formContainer .nameContainer .lastNameContainer, .formAndTextContainer .formContainer .nameContainer .emailContainer, .formAndTextContainer .formContainer .nameContainer .phoneContainer, .formAndTextContainer .formContainer .emailAndPhoneContainer .firstNameContainer, .formAndTextContainer .formContainer .emailAndPhoneContainer .lastNameContainer, .formAndTextContainer .formContainer .emailAndPhoneContainer .emailContainer, .formAndTextContainer .formContainer .emailAndPhoneContainer .phoneContainer {
    width: 100%;
  }
  .formAndTextContainer .formContainer .subjectInput {
    width: 100%;
  }
  .formAndTextContainer .formContainer .buttonSubmit {
    width: 100%;
  }
  .mapContainer {
    width: 100%;
    height: 400px;
  }
  footer .footerTextandLogoContainer {
    flex-direction: column;
  }
  footer .footerTextandLogoContainer .footerTextContainer {
    width: 100%;
  }
  footer .footerTextandLogoContainer .footerCertificationContainer {
    width: 100%;
    text-align: left;
  }
  footer .designContainer {
    display: none;
  }
  footer .footerDesignCopywrightContainer {
    justify-content: center;
  }
}