@import url("https://fonts.googleapis.com/css2?family=Didact+Gothic&family=Lato&display=swap");
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

* {
  font-family: "Didact Gothic", sans-serif;
}

main {
  background-color: #f7f6f3;
}

.wrapper {
  width: 90%;
  max-width: 1300px;
  margin: 0 auto;
}

section {
  padding: 5% 0;
  background-color: #f7f6f3;
}

h3 {
  font-family: "Lato", sans-serif;
  font-size: 21px;
}

p {
  font-size: 18px;
}

a {
  text-decoration: none;
  color: #284646;
  font-size: 18px;
}

hr {
  color: #e5e5e5;
  background-color: #f7f6f3;
}

svg {
  vertical-align: middle;
  padding-bottom: 2px;
}

.headerText {
  height: 30vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.sectionTitleTextContainer h2 {
  margin-bottom: 5px;
}
.sectionTitleTextContainer .subTextContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}
.sectionTitleTextContainer .subTextContainer .seeMoreContainer {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ff7161;
}
.sectionTitleTextContainer .subTextContainer .seeMoreContainer a {
  color: #284646;
}
.sectionTitleTextContainer .subTextContainer p {
  margin: 0px;
}

nav {
  padding: 10px 15px;
  border-bottom: 1px solid #F2F4F7;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: white;
  z-index: 5;
}
nav .logoContainer {
  margin-right: auto;
}
nav .navigationContainer {
  display: flex;
  background-color: white;
  list-style: none;
}
nav .navigationContainer li a {
  color: #4e4e4e;
  text-decoration: none;
  margin-left: 30px;
}

.preambleTextContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.embla {
  --slide-spacing: 1rem;
  --slide-size: 100%;
  --slide-height: 19rem;
  height: 90vh;
}

.embla__viewport {
  overflow: hidden;
}

.embla__container {
  display: flex;
  flex-direction: row;
  height: auto;
  margin-left: calc(var(--slide-spacing) * -1);
}

.embla__slide {
  flex: 0 0 var(--slide-size);
  min-width: 0;
  padding-left: var(--slide-spacing);
  position: relative;
  height: 90vh;
}

.embla__slide__img {
  display: block;
  height: var(--slide-height);
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.embla__slide__number > span {
  color: white;
  background-image: white;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.6rem;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.embla__dot,
.embla__button {
  -webkit-appearance: none;
  background-color: transparent;
  touch-action: manipulation;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
}

.embla__dots {
  z-index: 1;
  bottom: 1.2rem;
  position: absolute;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.embla__dot {
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  margin-right: 0.75rem;
  margin-left: 0.75rem;
}

.embla__dot:after {
  background: white;
  border-radius: 0.2rem;
  width: 100%;
  height: 0.3rem;
  content: "";
}

.embla__dot--selected:after {
  background: #284646;
}

.embla__button {
  z-index: 1;
  color: white;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  width: 4rem;
  height: 4rem;
  fill: white;
}

.embla__button--prev {
  left: 1.6rem;
}

.embla__button--next {
  right: 1.6rem;
  color: white;
}

.embla__button:disabled {
  opacity: 0.3;
}

.embla__button__svg {
  width: 65%;
  height: 65%;
  color: white;
}

.slideOne {
  background-image: url("../public/images/hero2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.slideTwo {
  background-image: url("../public/images/home1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.modelHomesTextContainer h2 {
  margin-bottom: 5px;
}

.modelHomesSubTextContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}
.modelHomesSubTextContainer .seeMoreContainer {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ff7161;
}
.modelHomesSubTextContainer .seeMoreContainer a {
  color: #284646;
}
.modelHomesSubTextContainer p {
  margin-top: 0;
  font-size: 16px;
}

.modelHomesContainer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.modelHomesCard {
  width: calc(33.3333333333% - 30px);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.35);
}
.modelHomesCard .modelHomesImgContainer {
  position: relative;
  width: 100%;
  height: 250px;
  -o-object-fit: contain;
     object-fit: contain;
}
.modelHomesCard .modelHomesCardTextContainer {
  padding: 15px;
  text-transform: uppercase;
}
.modelHomesCard .modelHomesCardTextContainer h3 {
  font-size: 16px;
}
.modelHomesCard .modelHomesCardTextContainer h3, .modelHomesCard .modelHomesCardTextContainer p {
  margin-top: 0px;
}
.modelHomesCard .modelHomesCardTextContainer .modelHomeNameAndLocationContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.modelHomesCard .modelHomesCardTextContainer .modelHomeNameAndLocationContainer .modelNameLocation {
  justify-self: flex-end;
  margin-top: 0px;
}
.modelHomesCard .modelHomesCardTextContainer .modelHomeNameAndLocationContainer .modelNameLocation span {
  font-size: 14px;
}
.modelHomesCard .modelInformationBar {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 20px;
}
.modelHomesCard .modelInformationBar .iconAndTextContainer {
  margin-right: 5px;
  font-size: 14px;
}
.modelHomesCard .moreDetails {
  text-align: center;
  margin-bottom: 20px;
}
.modelHomesCard .moreDetails a {
  border: 1px solid #ff7161;
  color: #ff7161;
  padding: 8px 20px;
  border-radius: 12px;
}

.modelHomesCard:nth-child(2) {
  margin: 0 30px;
}

.modelHomesPageCard {
  width: calc(33.3333333333% - 30px);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.35);
  margin-bottom: 40px;
}
.modelHomesPageCard .modelHomesImgContainer {
  position: relative;
  width: 100%;
  height: 250px;
  -o-object-fit: contain;
     object-fit: contain;
}
.modelHomesPageCard .modelHomesCardTextContainer {
  padding: 15px;
  text-transform: uppercase;
  background-color: white;
}
.modelHomesPageCard .modelHomesCardTextContainer h3,
.modelHomesPageCard .modelHomesCardTextContainer p {
  margin-top: 0px;
  font-size: 14px;
  color: #0a0a0a;
}
.modelHomesPageCard .modelHomesCardTextContainer .modelHomeNameAndLocationContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.modelHomesPageCard .modelHomesCardTextContainer .modelHomeNameAndLocationContainer .modelNameLocation {
  justify-self: flex-end;
  margin-top: 0px;
}
.modelHomesPageCard .modelHomesCardTextContainer .modelHomeNameAndLocationContainer .modelNameLocation span {
  font-size: 12px;
  background-color: #284646;
  border-radius: 16px;
  mix-blend-mode: multiply;
  padding: 2px 8px;
  color: white;
}
.modelHomesPageCard .modelInformationBar {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 20px;
}
.modelHomesPageCard .modelInformationBar p {
  margin-bottom: 0px;
}
.modelHomesPageCard .modelInformationBar .iconAndTextContainer {
  margin-right: 5px;
  font-size: 14px;
}
.modelHomesPageCard .moreDetails {
  text-align: center;
  margin-bottom: 20px;
}
.modelHomesPageCard .moreDetails a {
  border: 1px solid #ff7161;
  color: #ff7161;
  padding: 8px 20px;
  border-radius: 12px;
}

.modelDevelopmentLink {
  color: #ff7161;
}

.developmentTitleTextContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.developmentTitleTextContainer .learnMoreDevelopmentsContainer {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ff7161;
}
.developmentTitleTextContainer .learnMoreDevelopmentsContainer a {
  color: #284646;
}

.recentDevelopmentTextContainer h2 {
  margin-bottom: 5px;
}
.recentDevelopmentTextContainer p {
  margin-top: 0px;
}

.developmentsCardsContainer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.developmentsCardsContainer .developmentCard {
  width: calc(50% - 20px);
  border: 1px solid #284646;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  padding: 10px;
}
.developmentsCardsContainer .developmentCard .developmentImgContainer {
  width: 100%;
  position: relative;
  height: 250px;
  -o-object-fit: contain;
     object-fit: contain;
}
.developmentsCardsContainer .developmentCard:nth-child(odd) {
  margin-right: 20px;
}
.developmentsCardsContainer .developmentCard:nth-child(-n+2) {
  margin-bottom: 20px;
}

.developmentTextContainer {
  display: flex;
  justify-content: space-between;
}
.developmentTextContainer .developmentLocationTextContainer {
  display: flex;
  align-items: center;
}
.developmentTextContainer .developmentLearnMoreContainer {
  margin-left: 10px;
}

.developmentHeader {
  background-image: url("../public/images/DevelopmentHeaderPhoto.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.developmentPageContainer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.developmentPageContainer .developmentCard {
  width: 100%;
  border: 1px solid #284646;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 30px;
}
.developmentPageContainer .developmentCard .developmentTextContainer {
  align-items: center;
}

.aboutUsHeader {
  background-image: url("../public/images/AboutUsHead.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.aboutContainer {
  display: flex;
  justify-content: center;
}
.aboutContainer .aboutImgContainer {
  width: 30%;
  position: relative;
  margin-right: 10px;
}
.aboutContainer .aboutImgContainer img {
  -o-object-fit: cover;
     object-fit: cover;
}
.aboutContainer .aboutTextContainer {
  width: 50%;
}
.aboutContainer .aboutTextContainer p {
  line-height: 1.5;
}

.aboutUsLinkContainer {
  border-bottom: 1px solid #ff7161;
}

.aboutUsWrapper {
  width: 70%;
}

.aboutUsTextAndImageContainer {
  display: flex;
}
.aboutUsTextAndImageContainer .textContainer {
  width: 50%;
}
.aboutUsTextAndImageContainer .textContainer p {
  line-height: 1.5;
}

.contactSection {
  background-color: #f7f6f3;
}

.formAndTextContainer {
  display: flex;
  flex-direction: row-reverse;
  gap: 20px;
}
.formAndTextContainer .contactTextContainer {
  width: 30%;
}

.formContainer {
  display: flex;
  align-items: center;
  width: 40%;
  box-shadow: 0 15px 35px 0 rgba(0, 0, 0, 0.1);
  padding: 30px 20px 8px 25px;
  background-color: white;
}
.formContainer form {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.formContainer form input {
  margin: 15px 0px;
  padding: 8px;
  border-radius: 4px;
  border-width: 1px;
  border-color: #dadbde;
  border-style: solid;
}
.formContainer form textarea {
  margin: 15px 0px;
  padding: 8px;
  border-radius: 4px;
  border-width: 1px;
  border-color: #dadbde;
  border-style: solid;
  resize: none;
}
.formContainer form .emailAndPhoneContainer {
  display: flex;
  justify-content: space-between;
}
.formContainer form .emailAndPhoneContainer .phoneContainer, .formContainer form .emailAndPhoneContainer .emailContainer {
  width: 45%;
}
.formContainer form .emailAndPhoneContainer .phoneContainer input, .formContainer form .emailAndPhoneContainer .emailContainer input {
  width: 100%;
}
.formContainer form .buttonSubmit {
  background-color: #284646;
  cursor: pointer;
  color: white;
  padding: 10px 16px;
  font-weight: bold;
  border-radius: 4px;
}

footer .footerTextandLogoContainer {
  display: flex;
  width: 100%;
}
footer .footerDesignCopywrightContainer {
  display: flex;
  justify-content: space-between;
}
footer .footerLinksContainer nav {
  justify-content: flex-start;
  padding: 0px;
  border-bottom: none;
}
footer .footerLinksContainer .footerNavigationContainer {
  display: flex;
  list-style: none;
  padding: 0px;
}
footer .footerLinksContainer .footerNavigationContainer li a {
  text-decoration: none;
  color: #4e4e4e;
  margin-right: 30px;
}

.footerCopy {
  font-size: 14px;
  color: #4e4e4e;
}
.footerCopy a {
  font-size: 14px;
}

.footerTextContainer {
  padding: 5% 0 2% 0;
  width: 50%;
}
.footerTextContainer h4 {
  margin: 16px 0px;
}

.footerCertificationContainer {
  padding: 5% 0 2% 0;
  width: 50%;
  text-align: right;
}
.footerCertificationContainer p {
  font-size: 16px;
}